/* src/assets/adsections.css */
.ad-sections {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px; /* Ajuste o padding conforme necessário */
  gap: 20px; /* Espaçamento entre os anúncios */
}

.ad-section {
  width: 48%; /* Ajuste a largura para que os anúncios fiquem lado a lado */
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Ajuste o border-radius para ficar mais suave */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ad-section img {
  width: 100px;
  height: auto;
  margin-top: 20px; /* Espaçamento entre o conteúdo e a imagem */
}

.ad-section input[type="text"] {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.ad-section button {
  background-color: #a2ad6d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px; /* Espaçamento acima do botão */
}

.ad-section .search-container button {
  background-color: #5F6F52;
  color: #FEFAE0;
  border: none;
  padding: 10px ;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
}

.ad-section button:hover {
  background-color: #8e9c5a;
}

.ad-section .search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.ad-section .search-container input[type="text"] {
  width: 70%; /* Especifica a largura para input */
  margin: 0; /* Remove margens adicionais */
}

.ad-section .search-container button {
  width: 30%; /* Especifica a largura para botão */
  padding: 10px 0; /* Ajusta o padding para alinhar o botão com o input */
  margin: 0; /* Remove margens adicionais */
}

/* Media queries */
@media (max-width: 768px) {
  .ad-sections {
    flex-direction: column;
    gap: 20px;
  }

  .ad-section {
    width: 90%;
    padding: 15px;
  }

  .ad-section input[type="text"] {
    width: 50%;
  }

  .ad-section .search-container input[type="text"] {
    width: 70%;
  }

  .ad-section .search-container button {
    width: 30%;
  }
}