/* src/assets/alerta-coletas.css */

/* Escopo específico para a página de Alerta Coletas */
.alerta-coletas-page .alerta-coletas-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.alerta-coletas-page .info-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.alerta-coletas-page .search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alerta-coletas-page .search-input {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.alerta-coletas-page .search-button {
  background-color: #5F6F52;
  color: #FEFAE0;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
}

.alerta-coletas-page .search-button:hover {
  background-color: #4d5941;
}

.alerta-coletas-page .map-container {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.alerta-coletas-page .map-container iframe {
  width: 100%;
  height: 480px;
  max-width: 100%;
}

.alerta-coletas-page .map-toggle-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.alerta-coletas-page .map-toggle-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  flex: 1;
}

.alerta-coletas-page .map-toggle-button.active {
  background-color: #A9B388;
  color: white;
}

.alerta-coletas-page .remind-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #A9B388;
  color: white;
  cursor: pointer;
  max-width: 100%;

  text-align: center;
}

/* src/assets/alerta-coletas.css */

/* Consultas de mídia para responsividade */
@media (max-width: 768px) {
  .alerta-coletas-page .info-container {
    padding: 15px;
  }

  .alerta-coletas-page .search-container {
    flex-direction: row;
    gap: 5px;
  }

  .alerta-coletas-page .search-input {
    width: 100%;
  }

  .search-button {
    padding: 10px;
    font-size: 14px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .alerta-coletas-page .info-container {
    padding: 10px;
  }

  .alerta-coletas-page .search-input {
    padding: 8px;
  }

  .alerta-coletas-page .search-button {
    padding: 8px;
  }
}
