/* banner.css */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url(../assets/img/floripa-img.png);
  background-size: cover;
  background-position: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-input {
  width: 500px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: #5F6F52;
  color: #FEFAE0;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
}

.search-button:hover {
  background-color: #4d5941;
}
