.cadastro-alerta-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #A9B388;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o conteúdo no topo */
  height: 400px;
  width: 100%;
  background-image: url('../assets/img/floripa-img.png');
  background-size: cover;
  background-position: center;
}

.cadastro-alerta-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-top: 20px; /* Ajuste a margem conforme necessário */
}
